* {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Helvetica Neue", Arial, sans-serif;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  min-height: 30em;
  max-height: 37.8em;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
  background-color: #f2f2f2;
  font-size: 20px;
}

.header__logo {
  background-image: url(/assets/logo.svg);
  position: absolute;
  top: 1.5em;
  left: 3em;
  width: 9.2em;
  height: 1.6em;
}

.header__title {
  line-height: 1.04em;
  font-size: 5em;
  max-width: 5.5em;
  margin-left: 0.55em;
  font-weight: 700;
  z-index: 1;
}

.header__subtitle {
  line-height: 1.25em;
  font-size: 0.9em;
  min-width: 19.4em;
  position: absolute;
  bottom: 1.5em;
  left: 3.15em;
}

a {
  background-color: transparent;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 1;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.header__link:hover {
  opacity: 0.6;
  transition-delay: 0.2s;
}

.header__square {
  height: 28.4em;
  width: 28.4em;
  background-color: #2f80ed;
  position: absolute;
  top: 3.2em;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation linear 20s infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.header__main-illustration {
  width: 38.25em;
  height: 30.4em;
  background-image: url(/assets/two_again.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 24px;
}

.two-columns__title {
  max-width: 164px;
  font-size: 0.75em;
  color: #2f80ed;
  line-height: 1.2;
  margin: 0.3em 1em 0 0;
  font-weight: 400;
}

.two-columns__title h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.two-columns__main-text {
  width: 80%;
  max-width: 32.5em;
  display: block;
}

.two-columns__paragraph {
  font-size: 1em;
  line-height: 1.45em;
  margin: 1.25em 0 0;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

.two-columns__paragraph p {
  display: block;
}

.two-columns__span-bold {
  font-weight: 700;
}

.technics {
  width: 80%;
  margin: 4.1em auto 0;
  font-size: 24px;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

.section-subtitle {
  line-height: 1.3em;
  text-align: center;
  margin: 0.8em 0 0;
  padding: 0 20%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.cards__item {
  width: 10em;
  margin: 2.5em 1.3em 0;
}

.cards__image {
  width: 6.6em;
  height: 6.6em;
  border-radius: 50%;
  margin: auto;
  display: block;
}

.cards__title {
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  margin: 1.7em 0 0;
}

.cards__description {
  line-height: 1em;
  font-size: 0.75em;
  margin: 0.6em 0 0;
  text-align: center;
}

.video {
  font-size: 24px;
  width: 80%;
  margin: 4.2em auto 0;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2.08em;
}

.video__iframe {
  width: 21.4em;
  height: 13.6em;
  margin-right: 0.83em;
}

.video__iframe:last-of-type {
  margin-right: 0;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 80px;
  position: relative;
  z-index: -1;
}

.feinman {
  font-size: 36px;
  height: 21.4em;
  background-image: url(/assets/feinman.png);
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  background-size: 23em 17em;
  position: relative;
}

.feinman__title {
  font-size: 3em;
  text-align: center;
  padding: 0 2.4em;
  margin: 0 auto;
  font-weight: 700;
}

.feinman__subtitle {
  font-size: 1em;
  line-height: 1.1em;
  text-align: center;
  margin: 1.45em 0 0;
}

.feinman__link {
  text-decoration: none;
  color: #000;
  font-size: 1em;
  line-height: 1.4em;
  position: absolute;
  right: 1.3em;
  top: 50%;
  transition: opacity 0.2s linear;
  cursor: pointer;
  opacity: 1;
}

.feinman__link:hover {
  opacity: 0.6;
  transition-delay: 0.1s;
}

.digits {
  margin-top: 4.16em;
  font-size: 24px;
}

.table {
  font-size: 24px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1100px;
  padding: 0 2em;
}

.table__part {
  width: 10.4em;
  margin-top: 2.5em;
}

.table__title {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

.table__subtitle {
  display: block;
  font-size: 0.75em;
  margin: 0.83em 0 0;
  line-height: 1.2em;
}

.khan {
  font-size: 24px;
  margin-top: 4.1em;
  background-color: #f2f2f2;
  padding-top: 4.3em;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 0;
}

.khan__title {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0;
}

.khan__quote {
  line-height: 1.4em;
  font-size: 1em;
  margin: 2.3em 0 0;
  width: 32em;
}

.khan__quote-author {
  font-size: 1em;
  font-weight: 700;
  margin: 1.5em 0 0;
}

.khan__quote-author-job {
  font-size: 1em;
  margin: 0.4em 0 0;
}

.khan__book-container {
  margin-top: 2.8em;
  display: flex;
}

.khan__book-img {
  height: 25.3em;
  width: 25.8em;
  background-image: url(/assets/book.jpg);
  background-size: cover;
  background-position: 0 0;
}

.khan__buy-link {
  line-height: 1.75em;
  font-size: 1.25em;
  text-decoration: none;
  color: #2f80ed;
  margin-left: 0.8em;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.khan__buy-link:hover {
  opacity: 0.6;
  transition-delay: 0.1s linear;
}

.kaufman {
  background-color: #1f1f1f;
  padding: 3.75em 0;
  position: relative;
  overflow: hidden;
  font-size: 24px;
}

.kaufman__triangle {
  width: 36.5em;
  height: 36.5em;
  background-image: url(/assets/triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -8.75em;
  z-index: 0;
  overflow: hidden;
  animation: rotation linear 20s infinite;
}

.table.table_dark {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.5em;
  font-size: 24px;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  z-index: 1;
}

.section-title.section-title_dark {
  color: #fff;
  position: relative;
  z-index: 1;
}

.section-subtitle.section-subtitle_dark {
  color: #fff;
  position: relative;
  z-index: 1;
}

.table__part.table__part_dark {
  color: #fff;
  margin: 3.3em 0 0;
  width: 8em;
}

.table__title.table__title_dark {
  font-size: 1.2em;
}

.table__subtitle.table__subtitle_dark {
  font-size: 0.9em;
}

.resources {
  font-size: 24px;
  margin-top: 4.1em;
}

.resources__logos {
  margin: 3.3em auto 4.1em;
  display: flex;
  justify-content: center;
  min-height: 3em;
  align-content: space-between;
}

.resources__logo {
  width: 10em;
  height: 1.5em;
  background: center no-repeat;
  background-size: contain;
}

.resources__logo.resources__logo_arzamas {
  background-image: url("/assets/arzamas.svg");
}

.resources__logo.resources__logo_n1 {
  background-image: url("/assets/n1.svg");
}

.resources__logo.resources__logo_strelka {
  background-image: url("/assets/strelka.svg");
}
.resources__logo.resources__logo_polka {
  background-image: url("/assets/polka.svg");
}

.footer {
  font-size: 24px;
  background-color: #1f1f1f;
  min-height: 14.5em;
  box-sizing: border-box;
  padding: 2.5em 0 1.3em;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column.footer__column_copyright {
  flex-basis: 29em;
  position: relative;
}

.footer__column {
  min-height: 10.5em;
}

.logo.logo_footer {
  width: 7.7em;
  height: 1.45em;
  background-image: url(/assets/logo_grey.svg);
}

.footer__author {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 1em;
  font-size: 0.75em;
  color: #4f4f4f;
}

.footer__columns_info {
  list-style-type: none;
  list-style: none;
  display: flex;
}

.footer__column.footer__columns_info {
  margin-right: 1em;
}

.footer__column.footer__columns_soc {
  min-height: 10.5em;
}

.footer__column_header {
  line-height: 1.25em;
  font-size: 0.75em;
  color: #fff;
  margin: 0 0 0.8em;
}

.footer__column_links {
  padding: 0;
  cursor: pointer;
}

.footer__list-item {
  display: block;
}

.footer__link {
  text-decoration: none;
  line-height: 1.3em;
  font-size: 0.75em;
  color: #4f4f4f;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.footer__link {
  list-style: none;
  text-decoration: none;
  line-height: 1.3em;
  font-size: 0.75em;
  color: #4f4f4f;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.footer__soc-icon {
  margin-right: 0.4em;
}

.footer__column.footer__column_info {
  margin-right: 1em;
}

ul li {
  list-style-type: none;
}
